/* Desktop CSS */
@media only screen and (min-width:950px) {
    
    html {
        overflow-y: scroll;
    }
    
    body {
        margin: 0 auto;
        width: 100%;
        background-color: #323232;
        background: url('/images/background.png');
    }
    
    header img {
        margin: 15px 0px 0px 15px;
    }
    
    header h1 {
        margin: 0px 0px 0px 15px;
    }
    
    #page {
        background-color: #FEFEFE;
        margin: 0 auto;
        height: 100%;
        width: 70%;
        min-height: 100vh;
    }
    
    #showLeft {
        display: none;
    }
    
    #normal-menu {
        display: inline;
    }
    
    .mob-menu {
        display: none;
    }
    
    .floatright {
        float: right;
        max-width: 55%;
        padding-left: 10px;
    }

    .floatleft {
        float: left;
        max-width: 55%;
        padding-right: 10px;
    }
    
}

/* Tablet CSS */
@media only screen and (min-width:481px) and (max-width:949px) {
    
    header {
        text-align: center;
    }
    
    header img {
        margin: 15px 0 0 0;
        max-width: 100%;
    }
    
    #showLeft {
        display: inline-block;
    }
    
    #normal-menu {
        display: none;
    }
    
    .mob-menu {
        font-size: 90%;
        width: 190px;
        left: -190px;
    }
    
}

/* Mobile CSS */
@media only screen and (max-width:480px) {
    
    header {
        text-align: center;
    }
    
    header img {
        margin: 15px 0 0 0;
        max-width: 100%;
    }
    
    #showLeft {
        display: inline-block;
    }
    
    #normal-menu {
        display: none;
    }
        
    .mob-menu {
        font-size: 90%;
        width: 190px;
        left: -190px;
    }
    
}

/* General CSS */
@font-face {
    font-family: 'Delicious-Roman';
    src: url('/css/Delicious-Roman.otf');
}

main * {
    color: #363636;
    font-size: 16px;
    font-family: 'Delicious-Roman', 'Open Sans', Arial;
}

main {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

main img, main video {
    max-width: 100%;
}

main#main {
    margin: 0 auto;
}

a:link, a:visited {
    text-decoration: none;
    color: #07726A;
}

a:hover, a:active {
    text-decoration: underline;
    color: #07726A;
}

h1 {
    color: #E41C25;
    font-size: 36px;
    font-family: 'Delicious-Roman', 'Open Sans', Arial;
}

h2 {
    color: #07726A;
    font-size: 28px;
    font-family: 'Delicious-Roman', 'Open Sans', Arial;
}

h3 {
    color: #EF9CA1;
    font-size: 22px;
    font-family: 'Delicious-Roman', 'Open Sans', Arial;
}

h4,h5,h6 {
    color: #9B999B;
    font-size: 18px;
    font-family: 'Delicious-Roman', 'Open Sans', Arial;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.1));
}

/* FORM CSS */
/* Modal Form */
.modal {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    position: relative;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 20px;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modalContentHeader {
    padding: 2px 16px;
    background-color: #669999;
    border-bottom: 1px solid #07726A;
}

.modalContentHeader h2 {
    color: #ffffff;
}

.modalContentBody {
    padding: 2px 16px;
}

.modalContentBody ul {
    padding-left: 20px;
}

.modalContentBody a {
    text-decoration: underline;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 48px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

#modalLoading {
    position: absolute;
    top: 50%;
    height: 64px;
    margin-top: -32px;
    width: 64px;
    left: 50%;
    margin-left: -32px;
}

/* Find Form */
.form {
    padding: 20px 20px 30px 20px;
}

.form label {
    color: #636566;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 6px;
    margin-top: 6px;
}

.form select {
    width: 100%;
}

.form input {
    width: 98%;
}

.form textarea {
    resize: none;
    width: 92%;
    height: 200px;
}

.form input[type=number], .form select, .form textarea {
    background: #FFFFFF;
    border: 1px solid #C6C7CC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636566;
    padding: 6px;
    margin-top: 6px;
}

.form input.error, .form select.error, .form textarea.error {
    background-color: #FFCCCC;
    animation-name: error-animate;
    animation-duration: 0.5s;
}

.form input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    border: 0px;
}

.form input[type=range]:focus {
    outline: none;
}

.form input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 19px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}

.form input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px #E41C25;
    border: 2px solid #E41C25;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #EF9CA1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.5px;
}

.form input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
}

.form input[type=range]::-moz-range-track {
    width: 100%;
    height: 19px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}

.form input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 3px #E41C25;
    border: 2px solid #E41C25;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #EF9CA1;
    cursor: pointer;
}

.form input[type=range]::-ms-track {
    width: 100%;
    height: 19px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.form input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}

.form input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}

.form input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 3px #E41C25;
    border: 2px solid #E41C25;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #EF9CA1;
    cursor: pointer;
}

.form input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
}

.form input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
}

.addBtn, .delBtn, .searchBtn {
    width: 70px;
    height: 70px;
    display: inline;
    margin-top: 30px;
    border: none;
    background-color: transparent;
}

.mdlAddBtn, .mdlDelBtn, .mdlSearchBtn {
    width: 70px;
    height: 70px;
    display: inline;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
}

.costLabels {
    display: block;
}

.costLabelLeft {
    display: inline;
    margin-top: 0px;
}

.costLabelRight {
    display: inline;
    float: right;
    margin-bottom: 0px;
    margin-top: 0px;
}

.btnWrapper {
    text-align: center;
    display: block;
}

@keyframes error-animate {
    0%      {background-color: #FFCCCC; transform: translateX(-15px);}
    25%     {background-color: #FFFFFF; transform: translateX(15px);}
    50%     {background-color: #FFCCCC; transform: translateX(-15px);}
    75%     {background-color: #FFFFFF; transform: translateX(15px);}
    100%    {background-color: #FFCCCC;}
}

/* FIND CSS */
#find {
    display: inline;
}

#find #searchRestaurantsListUL {
    list-style-type: none;
    padding-left: 0px;
}

#find #searchRestaurantsListUL li {
    padding: 5px;
}

#find #searchRestaurantsListUL li:nth-child(odd) {
    background: #669999;
    color: #FFFFFF;
    border-top: 1px solid #07726A;
    border-bottom: 1px solid #07726A;
}

#find #searchRestaurantsListTitle {
    list-style-type: none;
    padding-left: 0px;
}

#find #searchRestaurantsListTitle li {
    background: #EF9CA1;
    color: #FFFFFF;
    border-top: 1px solid #E41C25;
    border-bottom: 1px solid #E41C25;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
}

/* SAVED CSS */
#saved {
    display: none;
}

#saved #savedRestaurantsListUL {
    list-style-type: none;
    padding-left: 0px;
}

#saved #savedRestaurantsListUL li {
    padding: 5px;
}

#saved #savedRestaurantsListUL li:nth-child(odd) {
    background: #669999;
    color: #FFFFFF;
    border-top: 1px solid #07726A;
    border-bottom: 1px solid #07726A;
}

#saved #savedRestaurantsListTitle {
    list-style-type: none;
    padding-left: 0px;
}

#saved #savedRestaurantsListTitle li {
    background: #EF9CA1;
    color: #FFFFFF;
    border-top: 1px solid #E41C25;
    border-bottom: 1px solid #E41C25;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
}

/* HEADER CSS STYLING */
header h1 {
    margin-top: 0px;
    color: #E41C25;
    font-size: 48px;
    font-family: 'Delicious-Roman', 'Open Sans', Arial;
}

header a:link, header a:visited, header a:hover, header a:active {
    text-decoration: none;
    color: #07726A;
}

/* NAVIGATION CSS STYLING */
#normal-menu {
    color: #116688;
    font-size: 20px;
    font-family: 'Delicious-Roman', 'Open Sans', Arial;
}

#normal-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 15px;
}

#normal-menu ul li {
    display: inline;
    margin-right: 15px;
}

#normal-menu a:link {
    color: #116688;
    text-decoration: none;
}

#normal-menu a:visited {
    color: #116688;
    text-decoration: none;
}

#normal-menu a:hover {
    color: #E41C25;
    text-decoration: none;
}

#normal-menu a:active {
    color: #07726A;
    text-decoration: none;
}

#normal-menu a.activelink {
    font-weight: bolder;
}

.mob-menu {
	background: #669999;
	position: fixed;
        width: 210px;
	height: 44%;
	top: 0;
	z-index: 1000;
        left: -240px;
        transition: 0.3s;
}

.mob-menu h3 {
	color: #FFFFFF;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #07726A;
}

.mob-menu a {
	display: block;
	color: #FFFFFF;
	font-size: 1.4em;
	font-weight: 300;
        border-bottom: 1px solid #07726A;
	padding: 22px;
}

.mob-menu a:hover {
	background: #99CCCC;
}

.mob-menu a:active {
	background: #E41C25;
	color: #FFFFFF;
}

.mob-menu.mob-menu-open {
	left: 0px;
        transition: 0.3s;
}

#showLeft {
    width: 100px;
    height: 100px;
    position: absolute;
    right: -10px;
    top: -20px;
    border: none;
    background-color: transparent;
}

/* FOOTER CSS STYLING */
footer {
    margin-left: 15px;
    margin-right: 15px;
}

footer p, footer a {
    text-align: center;
    color: #9B999B;
    font-size: 16px;
    font-family: 'Delicious-Roman', 'Open Sans', Arial;
}

footer a:link {
    text-decoration: none;
    color: #9B999B;
}

footer a:visited {
    text-decoration: none;
    color: #9B999B;
}

footer a:hover {
    text-decoration: underline;
    color: #9B999B;
}

footer a:active {
    text-decoration: underline;
    color: #9B999B;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}